.container {
	background-color: #979da0;
	height: 150px;
	width: 700px;
	border-radius: 7px;
	position: relative;
	top: 100px;
	margin: 0 auto;
}
.button {
	border-radius: 20px;
	font-family: LucidaSansUnicode;
	font-size: 14px;
	background-color: #2cb5e4;
	color: white;
	height: 30px;
	border: 2px solid #2cb5e4;
}
.buttondiv {
	position: relative;
	top: 100px;
	left: 10px;
}